
.main-slider .card, .owl-item {
  transition: all 1s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.main-slider .owl-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-slider .cards {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 4em 0;
  background-color: #fefefe;
}

.main-slider .card {
  display: flex;
  justify-content: center;
  height: 19em;
  padding: 1em;
  margin: 1em 0;
  border-radius: 4px;
  opacity: 0.7;
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
  transition: opacity 1s ease, -webkit-transform 0.4s 0.5s ease-out;
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease;
  transition: transform 0.4s 0.5s ease-out, opacity 1s ease, -webkit-transform 0.4s 0.5s ease-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.main-slider .active .card {
  box-shadow: 0 0px 1em rgba(0, 0, 0, 0.2);
  -webkit-transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
          transform: box-shadow 0.3s ease, transform 0.1s 0.4s ease-in, opacity 0.4s ease;
}
.main-slider .card__content {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  opacity: 1;
}
.main-slider .active .card__content {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.main-slider .card__title {
  display: inline-block;
  font-size: 2em;
  overflow: hidden;
}
.main-slider .card__title span {
  display: inline-block;
  -webkit-animation: slide-up 0.4s 0s ease both;
          animation: slide-up 0.4s 0s ease both;
}
.main-slider .center.active .card__title span, .center.active.cloned:last-child .card__title span {
  opacity: 1;
  -webkit-animation: slide-down 0.4s 0.4s ease both;
          animation: slide-down 0.4s 0.4s ease both;
  transition: opacity 0.3s ease, -webkit-transform 0.3s 0.4s ease;
  transition: transform 0.3s 0.4s ease, opacity 0.3s ease;
  transition: transform 0.3s 0.4s ease, opacity 0.3s ease, -webkit-transform 0.3s 0.4s ease;
}
.main-slider .center .card {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-slider .center .card:hover {
  box-shadow: 0 8px 16px -5px rgba(0, 0, 0, 0.4);
}

.main-slider .owl-item:nth-of-type(1n) .card {
  background-color: #ff527b;
}

.main-slider .owl-item:nth-of-type(2n) .card {
  background-color: #ffcc8f;
}

.main-slider .owl-item:nth-of-type(3n) .card {
  background-color: #ff8f2f;
}

.main-slider .owl-item:nth-of-type(4n) .card {
  background-color: #2480fe;
}

.main-slider .owl-theme .owl-dots .owl-dot span {
  width: 4em;
  height: 4px;
  margin: 0 0.5em;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0;
}

.main-slider.owl-theme .owl-dots .owl-dot.active span,
.main-slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff527b;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
            transform: translate3d(0, -120%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
            transform: translate3d(0, -120%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
            transform: translate3d(0, -120%, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
            transform: translate3d(0, -120%, 0);
  }
}
